# Copiez ce fichier en local.env et adaptez les valeurs pour votre poste
echo "Chargement des variables locales..."
export FGTECH_INGRESS_FQDN=apps.local.fgtech
export FGTECH_INGRESS_TLS_SECRET=fgtech-tls
# Ajoutez ici d'autres variables si nécessaire
